<section class="extra-margins pb-5 text-lg-left">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="view overlay hm-white-slight">
                    <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(29).jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>

                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">
                        <strong>{{ post.title }}</strong>
                    </h4>
                    <hr>
                    <!--Text-->
                    <p class="dark-grey-text mb-4 mt-4">
                        {{ post.text|safe|linebreaksbr }}
                    </p>

                    <hr>

                    <div class="row mb-4">
                        <div class="col-md-12 text-center">

                            <h4 class="text-center font-bold dark-grey-text mt-3 mb-3">
                                <strong>乐于分享</strong>
                            </h4>

                            <button type="button" class="btn btn-primary btn-fb btn-sm">
                                <i class="fa fa-facebook left"></i> Facebook</button>
                            <!--Twitter-->
                            <button type="button" class="btn btn-info btn-tw btn-sm">
                                <i class="fa fa-twitter left"></i> Twitter</button>
                            <!--Google +-->
                            <button type="button" class="btn btn-warning btn-gplus btn-sm">
                                <i class="fa fa-google-plus left"></i> Google +</button>

                        </div>
                    </div>

                    <hr>

                    <div class="row mb-4">
                        <div class="col-md-12">
                            <!--Comment-->
                            {% include 'component/blog_post/post_detail_comment.html' %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>