<!--Section: Blog detail-->
<section class="extra-margins pb-5 text-lg-left">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="view overlay hm-white-slight">
                    <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(29).jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>

                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">
                        <strong>django开发时遇到问题的正确求助姿势</strong>
                    </h4>
                    <hr>
                    <!--Text-->
                    <p class="dark-grey-text mb-3 mt-4 mx-4">
                        自 django博客教程发布以来，已有超过上万名读者学习了该教程。
                        一些学习者跟随教程顺利地完成了个人博客的搭建，但一直以来也不断地收到读者的评论留言、QQ 留言、邮件等求助信息，
                        他们被开发中的一些问题卡主了，并且不知道该如何解决。随着教程阅读者越来越多，我收到的求助信息也越来越多。
                        一个人的力量始终是有限的，我个人也难以回答所有求助者的问题。为此，我想向大家介绍一些当初我学习 django
                        时遇到问题如何有效求助的一些经验，一些更容易得到解决方案的求助渠道，以及一些可供查阅的 django 资料等。
                    </p>

                    <div class="row mx-4 mt-3">

                        <p class="dark-grey-text article">
                            我所遇到过的，以及我收到的很多新人的问题 70% 都能够通过 django
                            的官方文档找到答案。但是为什么还是有很多人会问这些在官方文档中可以找到答案的问题呢？原因他们对官
                            方文档不熟悉。学习 django 开发，官方文档是最为全面、权威的学习资料。我的建议是在简单地入门了
                            django 之后，一定要花费一定量的时间开始通读官方文档的内容。也许你害怕内容太多，但我们要做的是通
                            读文档，知道文档的哪一部分讲了一个什么问题，对 django 相关组件的文档说明有一个鸟瞰式的掌握，这样
                            当遇到某个问题时你就能想起这个问题曾在文档的某个部分有过讨论，因此可以快速定位到文档的相关部分，
                            找到问题的解决方案。同理，对于你正在使用的第三方库，文档依然是首选求助对象。
                        </p>

                        <h5 class="mt-3 mb-4">
                            <strong>Lorem ipsum dolor sit amet</strong>
                        </h5>

                        <p class="dark-grey-text article">
                            当然，我了解绝大部分人不想阅读官方文档的原因不是被庞大的内容量吓退的，
                            而是被英语吓退的。但是，在目前这样的技术环境下，熟练阅读英文技术文档和书籍是一个合格的开发者必备的技能之一。
                            如果英语对你来说是一个大的挑战，你应该为此制定一个长期的英语学习计划，而不该急功近利地想快速掌握一门开发的技术。
                            如果项目紧急，你可以尝试先求助一些中文翻译文档，例如 django 有 1.8 的中文文档（我不贴地址，希望你阅读本文后
                            已经学到如何寻找资料的技巧）。但是注意，大部分英文文档翻译都是热心的网友贡献的，一是文档更新缓慢，翻译不全，
                            二是翻译人员众多，错误在所难免，因此一定不能长期依赖，提高自身英文水平才是硬道理。
                        </p>

                        <blockquote class="blockquote mx-md-5 mx-1">
                            <p class="mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit..."</p>
                        </blockquote>

                        <p class="dark-grey-text article"> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                            laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
                            eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                            consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

                    </div>

                    <div class="row my-3 mx-3">

                        <div class="col-md-6 mb-3">

                            <img src="https://mdbootstrap.com/img/Photos/Others/square/19.jpg" class="img-fluid z-depth-1" alt="sample image">

                        </div>

                        <div class="col-md-6">
                            <img src="https://mdbootstrap.com/img/Photos/Others/square/10.jpg" class="img-fluid z-depth-1" alt="sample image">
                        </div>

                    </div>

                    <div class="row mx-4">

                        <p class="dark-grey-text article">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                            et quasi architecto beatae vitae dicta sunt explicabo. Ut enim ad minima
                            veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi.</p>

                        <p class="dark-grey-text article mb-4">Omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Ut enim ad minima veniam,
                            quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                            ut aliquid ex ea commodi.Perspiciatis unde omnis iste natus error sit
                            voluptatem accusantium doloremque.</p>

                    </div>

                    <hr>

                    <div class="row mb-4">
                        <div class="col-md-12 text-center">

                            <h4 class="text-center font-bold dark-grey-text mt-3 mb-3">
                                <strong>Share this post: </strong>
                            </h4>

                            <button type="button" class="btn btn-primary btn-fb btn-sm">
                                <i class="fa fa-facebook left"></i> Facebook</button>
                            <!--Twitter-->
                            <button type="button" class="btn btn-info btn-tw btn-sm">
                                <i class="fa fa-twitter left"></i> Twitter</button>
                            <!--Google +-->
                            <button type="button" class="btn btn-warning btn-gplus btn-sm">
                                <i class="fa fa-google-plus left"></i> Google +</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>