<!-- Section: Featured posts -->
<section class="section widget-content">

    <div class="card card-body pb-0">
        <div class="single-post">

            <p class="font-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
                <strong>热门博客</strong>
            </p>

            <div class="row mb-4">
                <div class="col-5">
                    <!-- Image -->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Others/photo13.jpg" class="img-fluid z-depth-1" alt="sample image">
                        <a>
                            <div class="mask waves-light rgba-white-slight"></div>
                        </a>
                    </div>
                </div>

                <!-- Excerpt -->
                <div class="col-7">
                    <h6 class="mt-0 font-small">
                        <a>
                            <strong>Django开发社交类网站必备的...</strong>
                        </a>
                    </h6>

                    <div class="post-data">
                        <p class="font-small grey-text mb-0">
                            <i class="fa fa-clock-o"></i> 2018/02/23</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-post">
            <div class="row mb-4">
                <div class="col-5">

                    <!-- Image -->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Others/photo9.jpg" class="img-fluid z-depth-1" alt="sample image">
                        <a>
                            <div class="mask waves-light rgba-white-slight"></div>
                        </a>
                    </div>
                </div>

                <!-- Excerpt -->
                <div class="col-7">
                    <h6 class="mt-0 font-small">
                        <a>
                            <strong>Django模板标签regroup的妙用</strong>
                        </a>
                    </h6>

                    <div class="post-data">
                        <p class="font-small grey-text mb-0">
                            <i class="fa fa-clock-o"></i> 2018/02/14</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Archive-->
<section class="archive mt-5">
    <div class="card card-body pb-0">
        <div class="single-post">

            <p class="font-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
                <strong>博客归档</strong>
            </p>

            <div class="row mb-4">
                <div class="col-md-12 text-center">
                    <ul class="list-unstyled">
                        <li class="list-archive">
                            <p class="mb-2 mt-2">
                                <a href="#!" class="dark-grey-text">2018年2月</a>
                            </p>
                        </li>
                        <li class="list-archive">
                            <p class="mb-2 mt-2">
                                <a href="#!" class="dark-grey-text">2018年1月</a>
                            </p>
                        </li>
                        <li class="list-archive">
                            <p class="mb-2 mt-2">
                                <a href="#!" class="dark-grey-text">2017年11月</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>