{% extends 'blog/base.html' %}
{% block content %}

    <!--Carousel Section-->
    {% include 'component/common/home_carousel.html' %}

    <!-- Content Structure -->
    <section>
        <div class="container mt-5 pt-5">
            <div class="row pt-3">
                <div class="col-lg-9 col-12 mt-1">
                    <!--Main listing-->
                    {% include 'component/blog_post/post_list_single.html' %}
                    <!--Paginator-->
                    {% include 'component/blog_post/post_list_paginator.html' %}
                </div>

                <!--Post List Sidebar-->
                <div class="col-lg-3 col-12 px-4 mt-1 mb-5 blue-grey lighten-5">
                    {% include 'component/blog_post/post_list_sidebar.html' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

































